/* ********** HeroImage ********** */

.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

/*.hero-image {
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 57px;
    background-attachment: var(--hero-attachment);
  }
  
   .hero-image-opacity {
    width: 100%;
    min-height: 53vh;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--hero-opacity-color);
  } */
  
  .hero-image-title {
    font-size: 7.5vw;
    color: var(--hero-text-color);
    text-shadow: 1px 1px var(--main-color),  2px 2px var(--gray-dark-color);
  }

  .hero-pretitle-name{
    width: max-content;
    border-right: 0.3rem solid var(--first-color);
    transition: all 0.4s ease;
    animation: blink 0.7s infinite;
    overflow: hidden;
  }  

  @keyframes blink {
      50% {
        border-color: transparent;
      } 
  } 

  .hero-post-title{
    padding-bottom: 0.5rem;
    text-shadow: 1px 1px var(--main-color),  2px 2px var(--gray-dark-color);
  }

  @media screen and (max-width: 425px) {
     
    .hero-image-title {
        font-size: 2.5rem;
    }
  }