@media screen and (max-width: 425px) {
    h1 {
        margin: 0;
        font-size: 1.5rem;
      }
      
      h2 {
        margin: 0;
        font-size: 1.25rem;
      }
      
      h3 {
        margin: 0;
        font-size: 1rem;
      }
      
      h4 {
        margin: 0;
        font-size: 0.85rem;
      }
      
      h5 {
        margin: 0;
        font-size: 0.7rem;
      }
      
      h6 {
        margin: 0;
        font-size: 0.65rem;
      }
   
  }

  
  @media screen and (min-width: 1024px) {
   
  
    .footer {
      margin-bottom: 0;
    }
  
    .header {
      position: sticky;
      top: 0;
      padding: 0.5rem;
      height: calc(var(--header-height) - 0.5rem);
    }

    .full-lg-screen {
        width: 100%;
        min-height: 62vh;
      }
    
      .text-lg-center {
        text-align: center;
      }
    
      .text-lg-left {
        text-align: left;
      }
    
      .text-lg-right {
        text-align: right;
      }

      .text-lg-justify{
        text-align: justify;
      }
}